
#Headingr
{text-align: center;
    color: black;
  
    font-size: 50px;
    border-radius: 100px} 

#p {color: white;
background-color: black;}

#div {margin-left:  500px ;
    border-radius: 90%;
padding: 200px;
background-color: black;}
